.MazeRow {
  margin: 0 auto;
  width: fit-content;
  height: calc(100vh / 31);
}

.MazeSquare {
  /* height: side,
  width: side, */
  width: calc(100vh / 31);
  height: calc(100vh / 31);
  display: inline-block;
  border: 1px dashed #fff;
  box-sizing: border-box;
}

.MazeSquare-OutterWall-monokai {
  background: #222;
}
.MazeSquare-Pathway-monokai {
  background: #e6e6e6;
}
.MazeSquare-Visited-monokai {
  background: #9e86c8;
}

.MazeSquare-Obstacle-monokai {
  background: #797979;
}

.MazeSquare-Current-monokai {
  background: #b05279;
}

.MazeSquare-Target-monokai {
  background: #e87d3e;
}
